.no-style{
    list-style:none;
    text-decoration:none;
}

.viewsTitle{
  color:#409EFF;
  text-align:center;
  font-size:24px;
  margin-top:20px;
  font-family:Hiragino Sans GB;
}
.center{
  text-align:center;
  margin:0 auto;
}
.left{
  text-align:left;
}
.right{
  text-align:right;
}
.small-font{
  font-size:12px;
}

.closeBtn{
  float:right;
  position:relative;
}

